deb {{ mirror }} {{ codename }} main restricted universe multiverse
deb {{ mirror }} {{ codename }}-updates main restricted universe multiverse
deb {{ mirror }} {{ codename }}-backports main restricted universe multiverse
deb {{ security }} {{ codename }}-security main restricted universe multiverse
