#
# See `curl mirrors.ubuntu.com/mirrors.txt` to find mirrors
#
deb http://ftp.riken.jp/Linux/ubuntu/ {{ codename }} main restricted universe multiverse
deb http://ftp.riken.jp/Linux/ubuntu/ {{ codename }}-updates main restricted universe multiverse
deb http://ftp.riken.jp/Linux/ubuntu/ {{ codename }}-backports main restricted universe multiverse
deb http://ftp.riken.jp/Linux/ubuntu/ {{ codename }}-security main restricted universe multiverse
